body {
  background-color: #374050;
}

.drawer {
  display: inline-block; 
  background-color: #374050;
  overflow: hidden;
  width: 200px;
}

.link-list_user {
  border-bottom: 1px solid #333A4B;
}

.drawer_user-img {
  background-image: url('../images/main-pic.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px;
  border-radius: 100px;
  height: 80px;
  margin: 30px auto 0;
  width: 80px;
}

.drawer_user-name {
  display: block;
  background-image: url(../images/down-arrow.svg);
  background-position: 94px 3px;
  background-repeat: no-repeat;
  background-size: 10px;
  color: #9EA7B7;
  height: 20px;
  margin: 20px 55px;
  text-decoration: none;
  width: 100%;
}

.drawer_user-name:hover {
  color: #FFFFFF;
} 

/*-------------------------------------*/
.link-list {
  display: inline-block;
  border-bottom: 1px solid #31384c;
  list-style-type: none; 
  padding-bottom: 20px;
  width: calc(100%);

}

.drawer-title {
  position: relative;
  left: 25px;
  font-size: 13px;
  margin: 20px 0;
}


.drawer-link {
  display: block;
  vertical-align: middle;
  background-position: 25px 8px;
  background-repeat: no-repeat;
  background-size: 20px;
  color: #9EA7B7;
  padding: 10px 0 10px 55px;
  text-decoration: none;
  width: 100%;
}

.drawer-link:hover {
  color: #FFFFFF;
  background-color: #313949;
}

/*-------------------------------------*/
.link-list_main{
  display: block;
}

.drawer_link-home {
  background-image: url('../images/home.svg');
}

.drawer_link-jobs {
  background-image: url('../images/jobs.svg');
}

.drawer_link-resumes {
  background-image: url('../images/resume.svg');
}

.drawer_link-tasks {
  background-image: url('../images/tasks.svg');
}

.drawer_link-calendar {
    background-image: url('../images/calendar.svg');
}

/*-------------------------------------*/

.link-list_admin {
  display: block;
}

.drawer_link-users {
  background-image: url('../images/users.svg');
}

.drawer_link-locations {
  background-image: url('../images/location.svg');
}

.drawer_link-workflows {
  background-image: url('../images/workflow.svg');
}
.drawer_link-job-board {
  background-image: url('../images/job-boards.svg');
}

.drawer_link-social {
  background-image: url('../images/social.svg');
}

/*--------------------------------------*/

.drawer_checkbox-container {
  border: none;
}

.checkbox {
  display: block;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  margin-bottom: 12px;
  padding-left: 60px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eee;
  height: 25px;
  margin-left: 25px;
  width: 25px;
}

.checkmark1 {
  background-color: #F9DD4C;
}

.checkmark2 {
  background-color: #52AEF7;
}

.checkmark3 {
  background-color: #DB3660;
}

.checkmark4 {
  background-color: #4AA589;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  border: solid black;
  border-width: 0 3px 3px 0;
  height: 10px;
  transform: rotate(45deg);
}

.container input:checked ~ .checkmark:after {
  display: block;
}