  .page_container {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    width: calc(100% - 204px);
    background-color: #eef2f6;
    min-width: 320px;
  }

  .searchbar {
    border-bottom: : 2px #d6d7d8 solid;
  }

  .searchbar_icon { 
    height: 65px; 
    width: 65px;
    margin-right: -3px;
    background-position: 22px 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    border-bottom: 2px solid #d6d7d8;
    border-right: 2px solid #d6d7d8;
    vertical-align: top;
   }

  .searchbar_hamburger-icon {
    background-image: url('../images/hamburger.svg');
    background-position: 24px 24px;
  }

  .searchbar_searchfield {
    border-bottom: 2px solid #d6d7d8;
    font-size: 20px;
    height: 65px;
    padding-left: 25px;
    width: calc(100% - 260px);
  }

  .searchbar_searchfield::placeholder {
    padding-left: 50px;
    background-image: url('../images/mag-glass.svg');
    background-position: 20px;
    background-repeat: no-repeat;
    background-size: 25px;
    vertical-align: middle;
    font-size: 20px;
    color: #DBE3E9;
  } 

  .searchbar_user-icon {
    border-left: 2px solid #d6d7d8;
    margin-left: -4px;
    background-image: url('../images/add-user.svg');
    background-size: 27px;
  }

  .searchbar_calendar-icon {
    background-image: url('../images/search-calendar.svg');
    background-size: 25px;
  }

  .searchbar_waffle-icon {
    background-image: url('../images/waffle.svg');
    background-position: 23px 22px;
    border-right: none;
  }

  .searchbar_hamburger-icon:hover {
    background-color: #45A4F4;
    background-image: url('../images/hamburger-hover.svg');

  }

  .searchbar_user-icon:hover {
    background-color: #45A4F4;
    background-image: url('../images/add-user-hover.svg');

  }

  .searchbar_calendar-icon:hover {
    background-color: #45A4F4;
    background-image: url('../images/search-calendar-hover.svg');
  }

  .searchbar_waffle-icon:hover {
    background-color: #45A4F4;
    background-image: url('../images/waffle-hover.svg')
  }

  /*======================================*/

  .user-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFF;
    text-align: left;
  }

  .user-info button {
    padding-left: 5px;
    vertical-align: center;
    border: 1px solid #d6d7d8;
    font-weight: 700;
  }

  .user-info button:hover {
    background-color: #92CAE5;
    opacity: 0.2;
  }
  
  .user-info_container {
    padding-left: 35px;
  }

  .user-info_name-title {
    margin: 30px 8px 5px;
  }

  .user-info_location {
    display: inline-block;
    padding-left: 25px;
    margin-left: 10px;
    background-image: url('../images/location2.svg'); 
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: -2px 1px;
    font-weight: 400;
    font-size: 20px;
  }

  .user-info_preview {
    display:inline-block;
    margin-left: 10px;
    color: #92CAE5;
    text-decoration: none;
  }

  /*--------------------------------------*/

  .user-info_buttons-contianer {
    margin: 45px 43px;;
  }

  .user-info_buttons {
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    border-radius: 50px;
    height: 40px;
    width: 40px;
  } 

  .user-info_buttons-open {
    width: 90px;
    background-image: url('../images/circle.svg');
    background-size: 10px;
    background-position: 12px;
    border-radius: 40px;
  }

  .user-info_buttons-bookmark {  
    vertical-align: middle;
    background-image: url('../images/bookmark.svg');
  }

  .user-info_buttons-edit {
    vertical-align: middle;
    background-image: url('../images/edit-user-info.svg');

  }

  .user-info_buttons-trash { 
    vertical-align: middle;
    background-image: url('../images/trash.svg');
  }

  /*======================================*/
  
  .nav-container {
    height: 100px;
    margin: 0 0 20px;
    border-bottom: 2px solid #d6d7d8;
    background-color: #FFF;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    background-color: #FFF;
    list-style-type: none;
  }

  .navbar-hidden {
    display: none;
  }

  .navbar-links {
    display: inline-block;
    color: #9ea7b7;
    text-decoration: none;
    padding-top: 32px;
    text-transform: uppercase;
  }

  .navbar-links:hover {
    padding-bottom: 45px;
    border-bottom: 4px solid #88C6F8;
  }

  .nav-container_hidden {
    display: inline-block;
  }










 
