.page_container {
  display: inline-block;
  width: calc(100% - 204px);
  vertical-align: top;
  background-color: #EEF2F6;
  overflow: hidden;
  min-width: 320px;
}

.searchbar {
  border-bottom: : 2px #d6d7d8 solid;
}

.searchbar_icon { 
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 22px 20px;
  vertical-align: top;
  width: 65px;
  height: 65px; 
  margin-right: -3px;
  border-bottom: 2px solid #d6d7d8;
  border-right: 2px solid #d6d7d8;
 }

.searchbar_hamburger-icon {
  background-image: url('../images/hamburger.svg');
  background-position: 24px 24px;
}

.searchbar_searchfield {
  width: 65px;
  height: 65px; 
  height: 65px;
  width: calc(100% - 260px);
  border-bottom: 2px solid #d6d7d8;
  padding-left: 25px;
  font-size: 20px;
}

.searchbar_searchfield::placeholder {
  color: #DBE3E9;
  font-size: 20px;
  background-image: url('../images/mag-glass.svg');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 20px;
  vertical-align: middle;
  padding-left: 50px;
} 

.searchbar_user-icon {
  background-image: url('../images/add-user.svg');
  background-size: 27px;
  margin-left: -4px;
  border-left: 2px solid #d6d7d8;
}

.searchbar_calendar-icon {
  background-image: url('../images/search-calendar.svg');
  background-size: 25px;
}

.searchbar_waffle-icon {
  background-image: url('../images/waffle.svg');
  background-position: 23px 22px;
  border-right: none;
}

.searchbar_hamburger-icon:hover {
  background-color: #45A4F4;
  background-image: url('../images/hamburger2.svg');

}

.searchbar_user-icon:hover {
  background-color: #45A4F4;
  background-image: url('../images/add-user2.svg');

}

.searchbar_calendar-icon:hover {
  background-color: #45A4F4;
  background-image: url('../images/search-calendar2.svg');

}

.searchbar_waffle-icon:hover {
  background-color: #45A4F4;
  background-image: url('../images/waffle2.svg')
}
/*======================================*/
.user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  margin: 20px 0;
}

.user-info button {
  vertical-align: center;
  border: 1px solid #d6d7d8;
  font-weight: 700;
  padding-left: 5px;
}
.user-info button:hover {
  opacity: 0.2;
  background-color: #92CAE5;
}

.user-info_container {
  padding-left: 35px;
}
.user-info_name-title {
  margin: 30px 8px 5px;;
}
.user-info_location {
  display: inline-block;
  margin-left: 20px;

}
.user-info_preview {
  display:inline-block;
  margin-left: 10px;
  text-decoration: none;
  color: #92CAE5;

}
/*--------------------------------------*/
.user-info_buttons-contianer {
  margin: 45px 43px;;
}

.user-info_buttons {
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  margin-right: 10px;
} 

.user-info_buttons-open {
  width: 90px;
  border-radius: 40px;
}

.user-info_buttons-bookmark {  
  background-image: url('../images/bookmark.svg');
  vertical-align: middle}

.user-info_buttons-edit {
  background-image: url('../images/edit.svg');
  vertical-align: middle;

}

.user-info_buttons-trash { 
  background-image: url('../images/trash.svg');
  vertical-align: middle
}
/*======================================*/
.nav-container {
  margin: 20px 0 20px;
  height: 65px;
  border-bottom: 2px solid #d6d7d8;
}


.navbar {
  display: flex;
  justify-content: space-around;
  margin: 50px;
  list-style-type: none;
}

.navbar-hidden {
  display: none;
}

.navbar-links {
  display: inline-block;
  text-decoration: none;
  color: #9EA7B7;
}

.navbar-links:hover {
  border-bottom: 4px solid #88C6F8;
  padding-bottom: 45px;
}

.nav-container_hidden {
  display: inline-block;
}










 
