@import url('normalize.css');
@import url('header.css');
@import url('aside.css');
@import url('graph.css');
@import url('resume.css');
@import url('social.css');


* {
  border: none;
  box-sizing: border-box;
  color: #939AA4;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

@media (max-width: 1400px){
  .graphs {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .graph_bar-image {
    width: 100%; 
  }

  .bar-graph {
    background-size: 598px;
    height: 249px;
    margin: 20px auto;
    width: 573px;
  }


  .bar-graph_label {
    margin: 0 auto 30px;
  }  
  
  .graph_circle-images-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  
  .circle-graph_container {
    margin: 35px auto;
  }

  .circle-graph {
    display: inline-block;
    border-radius: 120px;
    height: 190px;
    width: 190px;
  }
}

@media screen and (max-width: 1258px){
  .social_linkedin {
    margin-bottom: 0px;
  }
}

@media (max-width: 1180px){
   
   .social-form_container {
    width: 30%;
  }

  .social_forms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .bottom-section_container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .resume {
    width: 800px;
  }

  .drawer {
    display: none;
  }

  .page_container {
    width: 100%;
  }

  .social {
    margin-top: 50px
    padding-right: 0;
    width: 800px;
  }

  .social_button {
    display: block;
    border: 1px solid black;
    color: white;
    height: 60px;
    width: 800px;
  }

  #social-form_container_no-line{
    border-top: 2px solid #d6d7d8;
  } 

  .social-title {
    height: 30px;
    margin-bottom: 34px;
    text-align: center;
  }

  .social-text {
    text-align: center;
  }

  .social_linkedin {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 8475px){
  .user-info_name-title {
    font-size: 28px;
  }
}

@media screen and (max-width: 840px){
  .resume {
    width: 600px;
  }

  .social {
    width: 600px;
  }

  .social_button {
    width: 600px;
  }
  
  .social-form_input {
    margin-top: 7px;
  }  

  .social_forms {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .social-form_container {
    width: 100%;
  }
}

@media screen and (max-width: 825px){
  .user-info {
    align-items: left;
    flex-direction: column;
    margin: 20px 0;
  }

  .user-info_buttons-contianer {
    margin: 26px 43px;
  }
}

@media screen and (max-width: 670px){
  .page-container { 
    width: 670px;
  }

  .circle-graph {
    display: block;
    margin: 10px auto;
  }

  .circle-graph_container {
    display: inline-block;
    margin: 20px auto;
    vertical-align: top;
    width: 50%;
  }

  .bar-graph {
    background-size: 498px;
    height: 226px;
    width: 494px;
  }

  .resume {
    display: block;
    width: 450px;
  }

  .desktop {
    display: none;
  }

  .navbar-links:hover{
    border-bottom: 4px solid #88C6F8;
    padding-bottom: 1px;
  }

  .nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #d6d7d8;
    height: 54px;
    margin-bottom: 35px;
    margin: 20px 0 20px;
  }

  .circle-graph_container {
    display: inline-block;
    vertical-align: top
    margin: 20px auto;
    width: auto;
  }

  .social {
    width: 450px;
  }

  .social_button {
    width: 450px;
  }
  
  .social-form_input {
    margin-top: 0;
  }

  .social-title {
    margin-bottom: 19px;
  }
}

@media screen and (max-width: 605px){

  .resume {
    display: none;
  }

  .searchbar_user-icon {
    display: none;
  }

  .searchbar_calendar-icon{
    display: none;
  }

  .searchbar_waffle-icon {
    display: none;
  }

  .searchbar_searchfield{
    width: calc(100% - 70px);
  }

  .searchbar_searchfield::placeholder{
    background-image: none;
    font-size: 15px;
    height: 20px;
    padding: 20px;
  }

  .user-info_buttons{
    margin-right: 7px;
  }

  .user-info_buttons-open {
    width: 75px;
  }
}


@media screen and (max-width: 485px){
  .bar-graph {
    background-size: 315px;
    height: 137px;
    width: 315px;
  }

  .social {
    width: 305px;
  }

  .social_button {
    width: 305px;
    margin: 30px auto;
  }

  .resume {
    display: none;
  }

  .circle-graph_label{
    margin: 10px auto 26px;
  }
}
