@import url('normalize.css');
@import url('header.css');
@import url('aside.css');
@import url('graph.css');
@import url('resume.css');
@import url('social.css');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  color: #939AA4;
  font-family: 'Source Sans Pro', sans-serif;
}

@media (max-width: 1400px){
  .graphs {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .graph_bar-image {
    width: 100%; 
  }

  .bar-graph {
    margin: 20px auto;
    background-size: 598px;
    height: 249px;
    width: 573px;
  }


  .bar-graph_label {
    margin: 0 auto 30px;
  }  
  
  .graph_circle-images-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .circle-graph_container {
    margin: 35px auto;
  }

  .circle-graph {
    display: inline-block;
    height: 190px;
    width: 190px;
     border-radius: 120px;
  }

@media (max-width: 1180px){
   .social-form_container {
    width: 30%;
  }

  .social_forms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .bottom-section_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .resume {
    width: 800px;
  }

  .drawer {
    display: none;
  }

  .page_container {
    width: 100%;
  }

  .social {
    width: 87%;
    padding-right: 0;
    margin-top: 50px
  }
}

@media screen and (max-width: 840px){
  .resume {
    width: 600px;
  }
}

@media screen and (max-width: 825px){
  .user-info {
    flex-direction: column;
    align-items: left;
    margin: 20px 0;
  }

  .user-info_buttons-contianer {
    margin: 26px 43px;
  }
}

@media screen and (max-width: 670px){
  .page-container { 
    width: 670px;
  }

  .circle-graph {
    display: block;
    margin: 10px auto;
  }

  .circle-graph_container {
    display: inline-block;
    margin: 20px auto;
    width: 50%;
    vertical-align: top;
  }

  .bar-graph {
    background-size: 498px;
    height: 226px;
    width: 494px;
  }

  .resume {
    width: 450px;
    height: 720px;
    display: block;
  }

  .desktop {
    display: none;
  }

  /*.navbar-links {
    font-size: 35px;
    padding-bottom: 40px;
  }*/

  .navbar-links:hover{
    border-bottom: 4px solid #88C6F8;
    padding-bottom: 1px;
  }

  .nav-container{
    margin: 20px 0 20px;
    height: 54px;
    border-bottom: 2px solid #d6d7d8;
    justify-content: center;
    display: flex;
    margin-bottom: 35px;
    align-items: center;
  }

  /*.navbar-hidden {
    display: inline-block;
    margin: 50px;
    list-style-type: none;
    padding-left: 15px;
  }*/

  /*.nav-container {
    height: 0;
  } */
/*
  .nav-container_hidden {
    vertical-align: top;
  }*/
}
.circle-graph_container {
    display: inline-block;
    margin: 20px auto;
    width: auto;
    vertical-align: top
  }

  .desktop{
    display: none;
  }

}
@media screen and (max-width: 580px){

 

 /* .navbar {
    display: inline-block;
    padding-bottom: 45px;
  }*/

/*  .navbar-links {
    font-size: 35px;
    padding-bottom: 40px;
  }*/

/*  .navbar_hidden {
    display: none;
  }

  .nav-container_hidden {
    display: none;
  }
*/
  .resume {
    display: none;
  }

  .searchbar_user-icon {
    display: none;
  }

  .searchbar_calendar-icon{
    display: none;
  }

  .searchbar_waffle-icon {
    display: none;
  }

  .searchbar_searchfield{
    width: calc(100% - 70px);
  }

  .searchbar_searchfield::placeholder{
    font-size: 15px;
  }

  .user-info_buttons{
    margin-right: 7px;
  }

  .user-info_buttons-open {
    width: 75px;
  }
}

@media screen and (max-width: em)
@media screen and (max-width: 30em)
@media screen and (max-width: 30em)