  .bottom-section_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 30px;
    padding-top: 30px;
    border-top: 2px solid #d6d7d8;
  }
  .resume {
    display: inline-block;
    margin: 20px 0;
    margin: 20px 45px;
    padding: 0;
    width: 100%;
  }

  .resume_table {
    background-color: #fff;
  }

  tr {
    height: 85px;
  }

  td {
    padding-left: 35px;
    border-bottom: 1px gray solid;
  }

  table { 
    border-collapse: collapse; 
  }

  .row1 {
    width: 15%;
  }

  .row2 {
    padding-right: 15px;
    width: 45%;
  }

  .resume_title {
    background-color: #717e93;
    color: #fff;
  }

  .description {
    height: 200px;
  }

  #details_button-edit {
    height: 30px;
    width: 70px;
    margin: 20px;
    padding-right: 5px;
    text-align: right;
    background-color: #7e8ba6;
    background-image: url(../images/edit.svg);
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 9px 6px;
    color: #fff;
  }

  #details_button-edit:hover {
    background-color: #92cae5;
    opacity: 0.4;
  }