  .social {
    display: inline-block;
    padding-right: 30px;
    width: 48%;
  }

  .social_button {
    display: block;
    height: 60px;
    margin: 20px 0;
    width: 100%;
    border: 1px solid black;
    color: white;
  }

  .social_facebook {
    background-color: #5070BD;
  }

  .social_twitter {
    background-color: #44A7E9;
  }

  .social_linkedin {
    background-color: #327FB8;
  }

  .social_form {
    margin: 25px 0;
    width: 100%;
  }

  .social-title {
    margin: 25px 0 10px;
  }

  .social-text {
    height: 36px;
    width: 100%;
    margin: 10px 0 29px;
  }

  .social-form_input{
    height: 50px;
    width: 80%;
    margin-top: 17px;
    padding-left: 20px;
  }

  .social-form_input-email{
    width: 100%;
  }

  .social-form_button{
    height: 50px;
    margin-left: -4px;
    width: 19%;
    background-color: #67b7bc;
    color: #fff;
  }

  .social-form_container {
    width: 100%;
  }

  .social_forms {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #social-form_container_no-line{
    border-top: none;
  }

  .social-form_container{
    border-top: 2px solid #d6d7d8;
  }


